<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here
     I cannot seem to get the fragments to load or get the content to show up-->
    <table >
        <tr th:each="terms : ${gTerms}">
            <td>
                <h3 th:text="${terms.term}">Term</h3>
                <h3 th:text="${terms.definition}">Definition</h3>
                <h3 th:text="${terms.regulation}">Regulation</h3>
            </td>
        </tr>
    </table>


</div>

</body>
</html>