<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="templates/fragments/frags :: head"></head>
<body>
<nav th:insert="templates/fragments/frags :: navig"></nav>
    <div class="content">
        <div class="content-inside">
            <div th:replace="templates/fragments/frags :: body"></div>
            First you will want to locate your preference of an aquatic tank and dried sea salt.
            <br>Once the water has been added begin to apply teh sea salt into the tank and locate a good filter.
<img src="/static/coral2.jpeg">
        </div>
    </div>



</body>
<footer th:replace="templates/fragments/frags :: footer">
</footer>
</html>