<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="templates/fragments/frags :: head"></head>
<body>
<nav th:insert="templates/fragments/frags :: navig"></nav>
    <div class="content">
        <div class="content-inside">
            <div th:replace="templates/fragments/frags :: body"></div>
            Next you will want to locate your choice of coral species<br>
            Most beginners will want to start with a hardier species like bubble coral
<img src="/static/agsfdh.jpeg">
        </div>
    </div>



</body>
<footer th:replace="templates/fragments/frags :: footer">
</footer>
</html>